.Products-Container{
    scrollbar-width: none;
    width: 92%;
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
    overflow-x: auto;
    overflow-y: hidden;
}

.Products-Container::--webkit-scrollbar{
    display: none
}


.Product-content{
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    padding: 10px;
    width: 505px;
    height: 355px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--white);
}

.Products-Container-recent{
    scrollbar-width: none;
    width: 92%;
    margin-top: 100px;
    margin-left: 75px;
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
    overflow-x: auto;
}

.Products-Container-recent::--webkit-scrollbar{
    display: none
}


.Product-content-recent{
    flex-shrink: 0;
    padding: 10px;
    width: 290px;
    height: 255px;
    border-radius: 10px;
    background-color: var(--white);
}

.recent{
    color: var(--dark-blue);
    margin-top: 50px;
    margin-left: 65px;
    font-size: 20px;
    padding: 10px;
}

.recent-border-line{
    width: 92%;
    height: 5px;
    border-radius: 10px;
    margin-left: 70px;
    background-color: var(--white);
    z-index: 99;
}

.product-content-border-line{
    width: 92%;
    height: 5px;
    border-radius: 10px;
    margin-left: 80px;
    margin-bottom: 120px;
    background-color: var(--white);
    z-index: 99;
}

.trending-teams{
    color: var(--dark-blue);
    margin-top: 50px;
    margin-left: 65px;
    font-size: 20px;
    padding: 10px;
}

.trending-teams-border-line{
    width: 92%;
    height: 5px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 120px;
    background-color: var(--white);
    z-index: 99;
}

.trending-teams-content-border-line{
    width: 92%;
    height: 5px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 120px;
    background-color: var(--white);
    z-index: 99;
}

.link{
    text-decoration: none;
    color: black;
}

.recent-ProductImage{
    width: 270px;
    height: 240px;
}

.products-ProductImage{
    width: 200px;
    height: 200px;
}

.products-Name{
    background-color: var(--dark-blue);
    width: 505px;
    text-align: center;
    padding-left: 10px;
    margin-left: -10px;
    margin-top: 50px;
    color: var(--mint);
}

.products-Description{

}

.products-Price-p-tag{
    margin-top: -200px;
    margin-left: 300px;
    color: var(--mint);
}

.prev-button{
    font-family: 'Alfa Slab One';
    font-size: 30px;
    color: var(--dark-blue);
    background-color: var(--mint);
    width: 100px;
    height: 50px;
    margin-left: 80px;
    margin-top: -65px;
    border: 2px solid var(--beige);
    z-index: 9999;
    border-radius: 10px;
    transition: all 0.35s ease;
}

.next-button{
    font-family: 'Alfa Slab One';
    font-size: 30px;
    color: var(--dark-blue);
    background-color: var(--mint);
    width: 100px;
    height: 50px;
    justify-content: right;
    right: 0;
    margin-left: 1550px;
    margin-top: -125px;
    margin-bottom: 40px;
    border: 2px solid var(--beige);
    z-index: 9999;
    border-radius: 10px;
    transition: all 0.35s ease;

}

.prev-button:hover,
.next-button:hover
{
    transform: translateY(-3px) scale(1.03);
    animation: glowBorder 2s infinite ease-in-out;
}

@keyframes glowBorder{
    0%{
        border-color: var(--beige);
        box-shadow: 0 0 0px var(--beige);
    }

    50%{
        border-color: white;
        box-shadow: 0 0 12px var(--beige);
    }

    100%{
        border-color: var(--beige);
        box-shadow: 0 0 0px var(--beige);
    }
}