:root {
    --beige: #F5F5DC;
    --mint: #66CDAA;
    --white: #FFFFFF;
    --black: #000000;
    --dark-green: #0F3D2E;
    --beige-rgba: 242, 235, 224;
    --mint-rgba: 220, 206, 184;
    --white-rgba: 11, 43, 79;
    --black-rgba: 61, 172, 185;
    --dark-green-rgba: 7, 14, 30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Alfa Slab One", serif;
}